#Sample file of ebay html
eBay_sample.html

#Dependencies
node_modules

#Webpack bundle
/public/app.js

#Credentials
aws-keys.json

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
/db/data
